
* {
    box-sizing: border-box;
}

.main-layout {
    height: calc(100vh - 80px);
}

.gallery-contant {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

@media (max-width: 900px) {

    .gallery-contant {
        grid-template-columns: repeat(3, 1fr);
    }

}


@media (max-width: 600px) {

    .gallery-contant {
        grid-template-columns: repeat(2, 1fr);
    }

}

.gallery-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
}

.editor-contant {
    display: flex;
    height: 100%;
    gap: 20px;
}

.canvas-container {
    flex: 7;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.editor-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

    justify-content: center;
}

@media (max-width: 700px) {

    .editor {
        height: calc(100vh - 80px);
    }

    .editor-contant {
        flex-direction: column;
    }

    .canvas-container {
        height: 50%;
    }

    .editor-container {
        height: 50%;
    }

}

.editor {
    height: 100%;

}

.meme-canvas {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}